.swipeButtons{
    position: fixed;
    bottom: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly
}

.swipeButtons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
}

.swipeButtons__repeat{
    /* padding: 3vw !important; */
    color: orange;
}

.swipeButtons__left{
    /* padding: 3vw !important; */
    color: red;
}

.swipeButtons__star{
    /* padding: 3vw !important; */
    color: rgb(76, 76, 245);
}

.swipeButtons__right{
    /* padding: 3vw !important; */
    color: pink;
}

.swipeButtons__lightning{
    /* padding: 3vw !important; */
    color: purple;
}